---
layout: menu-page
title: Archivio
permalink: archive:output_ext
description: Tutti gli articoli de Il cinema come amuleto, dal più recente al più vecchio.
---
{% include calculate_relative_base.html %}

<div class="archive tag-master">
  <form class="search-form inline" role="search">
    <div id="search-container">
      <label class="sr-only" for="search-input">Cerca</label>
      <input type="text" id="search-input" class="search" placeholder="Cerca" autocomplete="off">
    </div>
  </form>
  <ul id="results-container" class="results-search"></ul>
  <div class="post-list">
  {% for post in site.posts %}
    <div class="post">
      {% include remove_double_slash.html %}
      <a class="post-list-title" href="{{ post_url }}">{{ post.title }}</a>
      {% include post_meta.html type="post-card-meta" %}
      <div class="post-excerpt">
        {{ post.content | markdownify | strip_html | strip_newlines | truncatewords: 100 }}<a class="read-more" href="{{ post_url }}"> continua</a>
      </div>
    </div>
  {% endfor %}
  </div>
</div>
