---
layout: home-page
permalink: /404.html
content_id: not_found
title: Pagina non trovata
robots: noindex, follow
sitemap: false
---
{% include locale.html %}
<a href="/">
    <picture>
      <source srcset="/assets/img/404_small.jpg" media="(max-width: 768px)">
      <source srcset="/assets/img/404.jpg">
      <img src="/assets/img/404.jpg" alt="{{ ui.not_found }}" class="pnf-image" style="width:100vw;max-width:unset;margin-left:calc((100% - 100vw)/2);margin-top:-16.5px;">
    </picture>
</a>
{% include recent-post.html %}
