{% include calculate_relative_base.html %}
{% include escape-404.html %}
{% include locale.html %}

<footer class="main-footer">
    <div class="footer-wrapper">
        <a class="logo-link" title="{{ sitetext.title | default: site.title }}" href="{{ relativebase }}">
          <img src="{{ site.logo }}" alt="Logo" width="45" height="64">
        </a>
        <a class="copyright" href="/about.html">{{site.time | date: '%Y'}} &copy; {{site.author}}</a>
        <div class="footer-nav">
            <div>
              <a href="{{ relativebase }}">
                {{ ui.home }}
              </a>
            </div>
            <div>
              <a href="{{ relativebase }}archive.html">
                {{ ui.articles }}
              </a>
            </div>
            <div>
              <a href="{{ relativebase }}tags.html">
                {{ ui.tags }}
              </a>
            </div>
            <div>
              <a href="{{ relativebase }}about.html">
                {{ ui.about }}
              </a>
            </div>
        </div>
    </div>
</footer> <!-- End Footer -->
