{% include locale.html %}

<footer class="main-footer">
    <div class="footer-wrapper">
        <a class="logo-link" title="{{ site.title }}" href="/">
          <img src="{{ site.logo }}" alt="Logo" width="45" height="64">
        </a>
        <a class="copyright" href="/about.html">{{site.time | date: '%Y'}} &copy; {{site.author}}</a>
        <div class="footer-nav">
            <div>
              <a href="/">
                {{ ui.home }}
              </a>
            </div>
            <div>
              <a href="/archive.html">
                {{ ui.articles }}
              </a>
            </div>
            <div>
              <a href="/tags.html">
                {{ ui.tags }}
              </a>
            </div>
            <div>
              <a href="/about.html">
                {{ ui.about }}
              </a>
            </div>
        </div>
    </div>
</footer> <!-- End Footer -->
