{% include locale.html %}
{% assign site_title = site.title %}
{% assign site_description = sitetext.description | default: site.description %}

<head>
  <meta charset="utf-8">
  <title>{% if paginator.page > 1 %}{{ ui.page }} {{ paginator.page }} - {{ site_title }}{% elsif page_title %}{{ page_title }} - {{ site_title }}{% else %}{{ site_title }}{% endif %}</title>
  <meta name="description" content="{% if page_description %}{{ page_description }}{% else %}{{ site_description }}{% endif %}">
  {% if page.robots %}<meta name="robots" content="{{ page.robots }}">{% elsif preview_lang %}<meta name="robots" content="noindex, follow">{% elsif paginator.page > 1 %}<meta name="robots" content="noindex, follow">{% endif %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% include SEO.html %}
  <!-- Windows Phone -->
  <meta name="msapplication-navbutton-color" content="#311e3e">
  <!-- iOS Safari -->
  <meta name="apple-mobile-web-app-status-bar-style" content="#311e3e">
  <link rel="stylesheet" href="/assets/css/fonts.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/assets/fonts/font-awesome/css/font-awesome.min.css">
  <!-- Styles -->
  <link rel="stylesheet" href="/assets/css/modern-normalize.css">
  <link rel="stylesheet" href="/assets/css/main.css">
  {% include favicon.html %}
</head>
