{% assign document = post | default: page %}
<span class = "{{ include.type }}">
  {% if include.type == "post-page-meta" %}
    <p class="page_meta">
  {% endif %}
  {% if include.type == "post-card-meta" %}
    <span class="meta-pre"></span>
  {% endif %}
  {% unless include.date == "none" %}
    {% assign date = document.date %}
    {% assign m = date | date: "%-m" | plus: 0 %}
    {% case m %}
      {% when 1 %}{% assign mese = "gennaio" %}
      {% when 2 %}{% assign mese = "febbraio" %}
      {% when 3 %}{% assign mese = "marzo" %}
      {% when 4 %}{% assign mese = "aprile" %}
      {% when 5 %}{% assign mese = "maggio" %}
      {% when 6 %}{% assign mese = "giugno" %}
      {% when 7 %}{% assign mese = "luglio" %}
      {% when 8 %}{% assign mese = "agosto" %}
      {% when 9 %}{% assign mese = "settembre" %}
      {% when 10 %}{% assign mese = "ottobre" %}
      {% when 11 %}{% assign mese = "novembre" %}
      {% when 12 %}{% assign mese = "dicembre" %}
    {% endcase %}
    <{% if include.type == "recent-item-meta" %}p{% else %}span{% endif %} class="page_meta-date">
      <time datetime="{{ date | date_to_xmlschema }}">{{ date | date: "%-d" }} {{ mese }} {{ date | date: "%Y" }}</time>
    </{% if include.type == "recent-item-meta" %}p{% else %}span{% endif %}>
    {% unless include.type == "recent-item-meta" %}
      <span class="meta-sep"></span>
    {% endunless %}
  {% endunless %}
  {% assign words_per_minute = document.words_per_minute | default: site.words_per_minute | default: 200 %}
  {% assign words = document.content | strip_html | number_of_words %}
  <{% if include.type == "recent-item-meta" %}p{% else %}span{% endif %} class="page_meta-readtime">
    {% if words < words_per_minute %}
      {{ site.data.ui-text[site.locale].less_than | default: 'meno di' }} 1 {{ site.data.ui-text[site.locale].minute_read | default: 'min di lettura' }}
    {% elsif words == words_per_minute %}
      1 {{ site.data.ui-text[site.locale].minute_read | default: 'min di lettura' }}
    {% else %}
      {{ words | divided_by: words_per_minute }} {{ site.data.ui-text[site.locale].minute_read | default: 'min di lettura' }}
    {% endif %}
  </{% if include.type == "recent-item-meta" %}p{% else %}span{% endif %}>
  {% if include.type == "post-page-meta" %}
    </p>
  {% endif %}
</span>
