{% include locale.html %}
{% assign document = post | default: page %}
<span class = "{{ include.type }}">
  {% if include.type == "post-page-meta" %}
    <p class="page_meta">
  {% endif %}
  {% if include.type == "post-card-meta" %}
    <span class="meta-pre"></span>
  {% endif %}
  {% unless include.date == "none" %}
    {% assign date = document.date %}
    {% assign m = date | date: "%-m" | plus: 0 %}
    {% assign month_index = m | minus: 1 %}
    {% assign mese = ui.months[month_index] %}
    <{% if include.type == "recent-item-meta" %}p{% else %}span{% endif %} class="page_meta-date">
      <time datetime="{{ date | date_to_xmlschema }}">{{ date | date: "%-d" }} {{ mese }} {{ date | date: "%Y" }}</time>
    </{% if include.type == "recent-item-meta" %}p{% else %}span{% endif %}>
    {% unless include.type == "recent-item-meta" %}
      <span class="meta-sep"></span>
    {% endunless %}
  {% endunless %}
  {% assign words_per_minute = document.words_per_minute | default: site.words_per_minute | default: 200 %}
  {% assign words = document.content | strip_html | number_of_words %}
  <{% if include.type == "recent-item-meta" %}p{% else %}span{% endif %} class="page_meta-readtime">
    {% if words < words_per_minute %}
      {{ ui.less_than | default: 'meno di' }} 1 {{ ui.minute_read | default: 'min di lettura' }}
    {% elsif words == words_per_minute %}
      1 {{ ui.minute_read | default: 'min di lettura' }}
    {% else %}
      {{ words | divided_by: words_per_minute }} {{ ui.minute_read | default: 'min di lettura' }}
    {% endif %}
  </{% if include.type == "recent-item-meta" %}p{% else %}span{% endif %}>
  {% if include.type == "post-page-meta" %}
    </p>
  {% endif %}
</span>
