{% include locale.html %}

<div class="recent-box">
  <h2 class="page-subtitle">{{ ui.recent_articles }}</h2>
  <div class="recent-list">
    {% assign recent_posts = site.posts | where_exp: "p", "p.url != page.url" %}
    {% for post in recent_posts limit:4 %}
      {% if post.title %}
        <div class="recent-item">
          <a href="{{ post.url }}" class="recent-item-img">
            <img src="/assets/img/{{ post.img }}" alt="{{ post.title }}" loading="lazy">
            <div class="recent-item-title">
              <span>{{ post.title }}</span>
              {% include post_meta.html type="recent-item-meta" date="none" %}
            </div>
          </a>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div> <!-- End Recent-Box -->
