{% include locale.html %}
{%- comment -%}
Per-tag pages live at /tag/<slug>.html. Plain hrefs are fine: polyglot's
rewriter prefixes /en and /fr.
{%- endcomment -%}
<div class="tag-cloud">
    {% if include.context == "post" %}
        <ul class="tags {{ include.class }}">
            {% for tag in page.tags %}
                {% if tag_labels and tag_labels[tag] %}
                  {% assign tag_label = tag_labels[tag] %}
                {% else %}
                  {% assign tag_label = tag %}
                {% endif %}
                <li><a href="/tag/{{ tag | slugify }}.html" class="tag {{ include.class }}">{{ tag_label }}</a></li>
            {% endfor %}
    {% else %}
        <ul class="tags">
            {% for item in (0..site.tags.size) %}{% unless forloop.last %}
                {% capture this_word %}{{ tag_words[item] | strip_newlines }}{% endcapture %}
                {% if tag_labels and tag_labels[this_word] %}
                  {% assign tag_label = tag_labels[this_word] %}
                {% else %}
                  {% assign tag_label = this_word %}
                {% endif %}
                <li><a href="/tag/{{ this_word | slugify }}.html" class="tag">{{ tag_label }} <span>({{ site.tags[this_word].size }})</span></a></li>
            {% endunless %}{% endfor %}
    {% endif %}
        </ul>
</div>
