{% include locale.html %}
{%- comment -%}
Tag chips carry a ?tag=… query string, which polyglot’s href rewriter skips,
hence lang_prefix. Not static_href: that leaves a broken ferh= attribute here.
{%- endcomment -%}
{%- assign tag_page = lang_prefix | append: '/tag.html' -%}
<div class="tag-cloud">
    {% if include.context == "post" %}
        <ul class="tags {{ include.class }}">
            {% for tag in page.tags %}
                {% if tag_labels and tag_labels[tag] %}
                  {% assign tag_label = tag_labels[tag] %}
                {% else %}
                  {% assign tag_label = tag %}
                {% endif %}
                <li><a href="{{ tag_page }}?tag={{ tag | url_encode }}" class="tag {{ include.class }}">{{ tag_label }}</a></li>
            {% endfor %}
    {% else %}
        <ul class="tags">
            {% for item in (0..site.tags.size) %}{% unless forloop.last %}
                {% capture this_word %}{{ tag_words[item] | strip_newlines }}{% endcapture %}
                {% if tag_labels and tag_labels[this_word] %}
                  {% assign tag_label = tag_labels[this_word] %}
                {% else %}
                  {% assign tag_label = this_word %}
                {% endif %}
                <li><a href="{{ tag_page }}?tag={{ this_word | url_encode }}" class="tag">{{ tag_label }} <span>({{ site.tags[this_word].size }})</span></a></li>
            {% endunless %}{% endfor %}
    {% endif %}
        </ul>
</div>
