/* = = = = = = = = = = CURRENT  = = = = = = = = = = = = */
:root {
--accent:       #DB504A;    /* accent */
--accent-dark:  #4e3e51;    /* accent 2 (dark) */
--main:         #326273;    /* main color */
--main-dim:     #879dab;    /* dimmed version of main color */
--text:         #2B323B;
--grey1:        #5F5E58;
--grey2:        #8D897C;
--grey3:        #B4B3A7;
--grey4:        #DAD7D2;
--grey5:        #F0EFED;
--background:   #ffffff;
--shadow:      rgba(32,30,30,.3);
}
