---
layout: default
---
{% include locale.html %}
<div class="flex-container transparent">
  {% include header.html %}
  <main id="main-content" tabindex="-1">
    <article class="page">
      <div class="page-image">
        <img class="cover-image" src="/assets/img/{{ page.img }}" alt="{{ page.title }}">
      </div>
      <div class="wrapper">
        <div class="page-content">
          <div class="header-page">
            <h1 class="page-title">{{ page.title }}</h1>
            {% include post_meta.html type="post-page-meta" %}
          </div>
          {% include sidebar.html context="post" class="side" id="sidebar" %}
          {{ content }}
          {% if page.publication_link and page.publisher %}
            <p class="page_meta">
              {{ ui.originally_published }}&nbsp;<a href="{{ page.publication_link }}" target="_blank" rel="noopener noreferrer">{{ page.publisher }}</a>
            </p>
          {% endif %}
          {% include sidebar.html context="post" class="inline" id="post-end" %}
          <div class="separator"></div>
          {% include author-box.html %}
          {% include recent-post.html %}
        </div>
      </div>
    </article>
  </main>
  {% include search.html %}
  {% include footer.html %}
</div>
