---
layout: default
---
{% include locale.html %}
<div class="flex-container transparent">
  {% include header.html %}
  <main id="main-content" tabindex="-1">
    <article class="page">
      <div class="page-image">
        {% assign cover_img = page.img %}
        {% include cover_src.html %}
        <img class="cover-image" src="{{ cover_src }}" alt="{{ page.title }}">
      </div>
      <div class="wrapper">
        <div class="page-content">
          <div class="header-page">
            <h1 class="page-title">{{ page.title }}</h1>
            {% include post_meta.html type="post-page-meta" %}
          </div>
          {% include sidebar.html context="post" class="side" id="sidebar" %}
          {{ content }}
          {% assign orig_pub = page.republication.publisher | default: page.publisher %}
          {% assign orig_link = page.republication.publication_link | default: page.publication_link %}
          {% if orig_link and orig_pub %}
            <p class="page_meta">
              {{ ui.originally_published }}&nbsp;<a href="{{ orig_link }}" target="_blank" rel="noopener noreferrer">{{ orig_pub }}</a>
            </p>
          {% endif %}
          {% include sidebar.html context="post" class="inline" id="post-end" %}
          <div class="separator"></div>
          {% include author-box.html %}
          {% include recent-post.html %}
        </div>
      </div>
    </article>
  </main>
  {% include search.html %}
  {% include footer.html %}
</div>
